<div class="container mybg">
<div class="container">
  <div class="text-center center">
    <p class="text sm">ANDELA DEVELOPERS</p>
    <p class="text sm">Thoroughly Furnished For Great Productivity and Awesomeness</p>
    <div class="row">
      <div class="col-md-4"><a href=".#/home"><button class="btn btn-info btn-block">HOME</button></a></div>
      <div class="col-md-4"><a href=".#/repos"><button class="btn btn-info btn-block"> REPOSITORY </button></a></div>
      <div class="col-md-4"><a href=".#/form"><button class="btn btn-info btn-block">REGISTER </button></a></div>
    </div>
  </div>
</div>
  <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> REGISTRATION PAGE</h3>
      </div>
      <div class="panel-body">
      <p class="center input-sm">{{report}}</p>
      <!-- enctype="multi/part form-data" novalidate-->
        <form role="form" name="enrolmentForm" id="enrolmentForm" ng-submit="submit(userCreate)" >
          <div class="row">

            <div class="form-group input-sm">Open this <a href="http://postimage.org">Link</a> on another Tab to Upload your Images and paste the link here</div>
            <div class="form-group">
              
              <textarea type="text" ng-model="userCreate.avatar" name="imageurl" id="imageurl" class="form-control input-sm" placeholder="ONLY LINKS ARE ALLOWED PLEASE"></textarea> 
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.firstname" name="first_name" id="firstname" class="form-control input-sm checking" placeholder="First Name" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.lastname" name="last_name" id="lastname" class="form-control input-sm" placeholder="Last Name" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" ng-model="userCreate.email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" >
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.username" name="username" id="username" class="form-control input-sm" placeholder="username" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" ng-model="userCreate.password" name="password" id="password" class="form-control input-sm" placeholder="password" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.occupation" name="occupation" id="occupation" class="form-control input-sm" placeholder="Occupation">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.organisation" name="organisation" id="organisation" class="form-control input-sm" placeholder="Organisation">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <select name="select" ng-model="userCreate.marital" class=" input-sm">
                  <option value="married">Married</option> 
                  <option value="single" selected>Single</option>
                  <option value="Divorced">Divorced</option>
                </select>
              </div>
            </div>
             <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.nickname" name="nickname" id="nickname" class="form-control input-sm" placeholder="Nickname">
              </div>
            </div>
          </div>
            <div class="form-group">
              <input type="text" ng-model="userCreate.mobile" name="mobile" id="mobile" class="form-control input-sm" placeholder="Mobile Numbers e.g +23480xxxx, 234-01XXXX">
            </div>
            <div class="form-group">
                <input type="text" ng-model="userCreate.specialization" name="specialization" id="specialization" class="form-control input-sm" placeholder="specialization">
            </div>
            <div class="form-group">
                <input type="text" ng-model="userCreate.interest" name="hobbies" id="hobies" class="form-control input-sm" placeholder="Hobbies">
            </div>
            <div class="form-group">
              <textarea type="text" ng-model="userCreate.bio" name="bio" id="bio" class="form-control input-sm" placeholder="Enter a Brief description about you"></textarea> 
            </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
               <input type="text" ng-model="userCreate.twitter" name="twitter" id="twitter" class="form-control input-sm"
               placeholder="Twitter URL Here">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.facebook" name="facebook" id="facebook" class="form-control input-sm" placeholder="Facebook ID Here">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.linkedin" name="linkedin" id="linkedin" class="form-control input-sm" placeholder="linkedin ID Here">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" ng-model="userCreate.portfolio" name="portfolio" id="portfolio" class="form-control input-sm" placeholder="Portfolio/ Website">
              </div>
            </div>
          </div>    
          <!-- <input name="file" type="file" id="file" file-model="fileToUpload" class="form-control input-sm" />-->
          <input type="submit" value="Register" class="btn btn-info btn-block"> 

        </form>
       </div>
    </div>
  </div>
</div>
</div>