<div class="container head-canvas">
<!-- <div ><p>FIND A DEVELOPER </p></div>
  <form name="search" ng-submit="search()" novalidate>
  <input type="text" name="name" class="search" ng-model="query" placeholder="Type a name here to filter" required>
  <input class="btn  btn-primary btn-md" type="submit" value="SEARCH" >
  </form>

  </div> -->
 <div class="canvas">
 <p class="text lg">Andela Developers are World Class Developers</p>
 <p class="text sm">Thoroughly Brewed for Today's Technology Demand</p>
      
    
<div class="row mid"><a href="#/repos" class="page-scroll btn btn-xl btn-warning">SEARCH FOR A DEVELOPER</a>&nbsp; &nbsp; <a href="#/form" class="page-scroll btn btn-xl btn-warning">I'M A DEVELOPER</a></div>


</div> 
</div>

