<div class="container">
  <div class="center">
    <p class="text sm">ANDELA DEVELOPERS</p>
    <p class="text sm">Thoroughly Furnished For Great Productivity and Awesomeness</p>
    <div class="row">
      <div class="col-xs-12 col-sm-3 ">
          <a href=".#/home"><button class="btn btn-info btn-block">HOME</button></a>
      </div>
      <div class="col-xs-12 col-sm-3 ">
          <a href=".#/repos"><button class="btn btn-info btn-block"> REPOSITORY </button></a>
      </div>
      <div class="col-xs-12 col-sm-3 ">
        <a href=".#/form"><button class="btn btn-info btn-block">REGISTER </button></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="mid">
      <form name="search" ng-submit="search()" novalidate>
        <input type="text" name="name" class="search" ng-model="query" placeholder="Type a name here to filter" required>
      </form>
    </div>
  </div>
</div>

<div class="container" id="repos">
  <div class="row">
    <ul class="gallery">
    <!-- class="col-md-04" -->
      <li  ng-repeat="member in lists | filter:query">
        <div class="grid"> 
         <div class="img-canvas"><img ng-src="{{ member.avatar }}" class="img-responsive img-circle"/></div> 
           <p>NAME : {{member.firstname }}, {{member.lastname}} </p> &nbsp;
           <p>Nickname: {{member.nickname}}</p>&nbsp;
            <ul class="list-inline social-buttons">
              <li><a href="{{member.twitter}}"><i class="fa fa-twitter fa-repo"></i></a></li>
              <li><a href="{{member.facebook}}"><i class="fa fa-facebook fa-repo"></i></a></li>
              <li><a href="{{member.linkedin}}"><i class="fa fa-linkedin fa-repo"></i></a></li>
              </ul>
           <a ng-href=".#/{{member.username}}">View Developer</a>
       </div>
      </li>
    </ul>
  </div>
</div>
