<div class="container">
  <div class="center">
    <p class="text sm">ANDELA DEVELOPERS</p>
    <p class="text sm">Thoroughly Furnished For Great Productivity and Awesomeness</p>
    <div class="row">
      <div class="col-xs-12 col-sm-3 ">
          <a href="#/home"><button class="btn btn-info btn-block">HOME</button></a>
      </div>
      <div class="col-xs-12 col-sm-3 ">
          <a href="#/repos"><button class="btn btn-info btn-block"> REPOSITORY </button></a>
      </div>
      <div class="col-xs-12 col-sm-3 ">
        <a href="#/form"><button class="btn btn-info btn-block">REGISTER </button></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="mid">
      <form name="search" ng-submit="search()" novalidate>
        <input type="text" name="name" class="search" ng-model="query" placeholder="Type a name here to filter" required>
      </form>
    </div>
  </div>
</div>

<div class="container" id="repos">
  <div class="row">
    <ul class="gallery">
    <!-- class="col-md-04" -->
      <li  ng-repeat="member in lists | filter:query">
        <div class="grid"> 
         <div class="img-canvas"><img ng-src="{{ member.avatar }}" class="img-responsive img-circle"/></div> 
           <p>NAME : {{member.firstname }}, {{member.lastname}} </p> &nbsp;
           <p>Nickname: {{member.nickname}}</p>&nbsp;
            <ul class="list-inline social-buttons">
              <li><a href="{{member.twitter}}"><i class="fa fa-twitter fa-repo"></i></a></li>
              <li><a href="{{member.facebook}}"><i class="fa fa-facebook fa-repo"></i></a></li>
              <li><a href="{{member.linkedin}}"><i class="fa fa-linkedin fa-repo"></i></a></li>
              </ul>
           <a ng-href="#/{{member.username}}">View Developer</a>
       </div>
      </li>
    </ul>
  </div>
</div>













































































<!-- </div>  -->
<!-- <ul class="displayProjects">
      <li ng-repeat = "project in projects |limitTo : 3| orderBy: order">
        <div class="col-sm-4 my-portfolio">
        <a href="#/portfolio/{{project.id}}">
          <p ng-bind="project.name | uppercase" class="blue"></p>
          <img ng-src ="{{project.imageUrl}}" class="image-square"> </a>
          <p ng-cloak>{{project.Description}}</p>
        </div>
      </li>
    </ul> -->
 <!--
<div class="container">  
<h1>Example of creating Modals with Twitter Bootstrap</h1>  
<div id="example" class="modal hide fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">×</a>  
<h3>This is a Modal Heading</h3>  
</div>  
<div class="modal-body">  
<h4>Text in a modal</h4>  
<p>You can add some text here.</p>                
</div>  
<div class="modal-footer">  
<a href="#" class="btn btn-success">Call to action</a>  
<a href="#" class="btn" data-dismiss="modal">Close</a>  
</div>  
</div>  
<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Launch demo modal APP NOW</a></p>  
</div>  


<div class="col-md-4 portfolio-item gallery">
                <a href="#">
                    <img class="img-responsive img-circle" src="images/bayo.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

<div class="col-md-4 portfolio-item gallery">
  <ul class="gallery">
  <li>
                <a href="#">
                    <img class="img-responsive img-circle" src="images/1.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <li>
            </ul>            
<div>
<div class="col-md-4 portfolio-item gallery">
                <a href="#">
                    <img class="img-responsive img-circle" src="images/2.jpg" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
<section class="container">


<div class= "row">
  <ul class="gallery" >
    <li>
    <div class="img-canvas"><img src = "images/bayo.jpg"></div>
    <p>hello world</p>
      <ul class="list-inline social-buttons">
         <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
           <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
      </ul>
    </li>
  
    <li>
    
     <div class="col-sm-4">
      <div class="team-member"> 
      
         <img src="images/2.jpg" class="img-responsive img-circle"  alt="">
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Marketer</p>
          <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
          </ul>
      </div>
  </div> 
    </li>








    <li>
    <div class="img-canvas"><img src = "images/010511-1130(001).jpg"></div>
    <p>hello world</p>
    <ul class="list-inline social-buttons">
         <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
           <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
      </ul>
    </li>
    <li>
   <div class="img-canvas"><img src = "images/2.jpg"></div>
    <p>hello world</p>
    </li>
  </ul>
  </div>

</section>


    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <! class="img-responsive img-circle" -->
       <!--       <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/bayo.jpg" alt="" >-->
                        <!-- class="img-responsive img-circle" -->
                <!--        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"> -->
                    <!-- class="img-responsive img-circle" -->
               <!--         <img src="images/2.jpg"  alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section> -->